<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Clinic</title>
    <link rel="stylesheet" href="contactus.css">
</head>
<body>

<div class="footer__container">
    <div class="footer__col">
        <h4>Contact Us</h4>
        <p>
            <i class="ri-map-pin-2-fill"></i> shimoga, Karnataka, India
        </p>
        <p><i class="ri-mail-fill"></i> support@care.com</p>
        <p><i class="ri-phone-fill"></i> 9999999901</p>
    </div>
    <div class="footer__bar">
        <div class="footer__bar__content">
            <p>Copyright © 2024 ClinicManagement. All rights reserved.</p>
            <div class="footer__socials">
                <span><i class="ri-instagram-line"></i></span>
                <span><i class="ri-facebook-fill"></i></span>
                <span><i class="ri-heart-fill"></i></span>
                <span><i class="ri-twitter-fill"></i></span>
            </div>
        </div>
    </div>
</div>

</body>
</html>
