<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <title>Clinic</title>
        <link rel="stylesheet" href="style.css">

    </head>
    <body>
        <div class="form">
        <h2>login Here</h2>
        <form action="/doclogin" method="post">
        
        <input type="text" name="name" placeholder="Name"  autocomplete="off">
        <input type="password" name="password" placeholder="Password" autocomplete="off"> 
        <button class="btnn">Login</button>


        <p class="link">Don't have an account<br>
        <a href=" /docsignup">Sign up </a> here</a></p>
     

    
</form>
</div>
</body>
</html>